div {
  font-family: Arial;
}
.contain {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  width: 400px;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
}
.column1 {
  margin-right: 15px;
}
.column1-img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}
.column2 {
  flex: 1;
}
