p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.card {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 300px;
  display: inline-block;
  margin-right: 15px;
}
.picture-card {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}
.name-card {
  font-size: 18px;
  font-weight: bold;
  padding-left: 8px;
  margin-bottom: 4px;
}
.friend-card {
  color: rgb(160, 160, 160);
  padding-left: 8px;
  margin-bottom: 12px;
}
button {
  border: none;
  background-color: rgb(24, 119, 242);
  color: white;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  margin-left: 8px;
  margin-bottom: 10px;
}
